# See http://help.github.com/ignore-files/ for more about ignoring files.

node_modules/
greatamericanyouth.db
theme/
server/ai-graphics/models

package.json
package-lock.json

# Compiled output
/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out
.vscode/
.editorconfig/

# Node
/client/.angular/cache
/client/node_modules
/client/npm-debug.log
/client/yarn-error.log
/client/package-lock.json

/client/.sass-cache/


/server/messages.dat
/server/messages
/server/__pycache__
/server/greatamericanyouth.db
