<div *ngIf="!isLoading" class="main-container">
    <div class="title">
        <h1>{{title}}</h1>
    </div>
    <div class="metadata">
        <h2>By: {{author}}, Published {{date}}, Updated {{date}}</h2>
    </div>
    <hr class="line-break">
</div>
<div *ngIf="!isLoading" class="main-container">
    <div *ngFor="let section of sections; index as i" class="article-container">
        <div *ngIf="section.content" class="section-container">
            <div class="image-container" *ngIf="section?.media[0]">
                <img [src]="url + section?.media[0]?.path" align="left" class="section-image" [id]="'sectionImage'">
                <small class="section-image-text">{{section?.media[0]?.text}}</small>
                <small class="section-image-attr">{{author}}/Getty Images</small>
            </div>
            <p class="section-text" style="white-space: pre-wrap">{{section.content}}</p>
        </div>
    </div>
</div>
<div *ngIf="!isLoading && this.tags.length != 0" class="main-container">
    <div class="tags-container">
        <span class="tag-text">TAGS:</span>
        <span *ngFor="let tag of tags" class="tags">
            <span class="tag">{{tag}}</span>
        </span>
    </div>
</div>
<div *ngIf="!isLoading" class="author">
    <p-avatar [image]="avatar" shape="circle" size="large"></p-avatar>
    <p class="name">{{author}}</p>
</div>

<div *ngIf="isLoading" class="main-container">
    <p-progressSpinner></p-progressSpinner>
</div>