.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s;
}

.title,
.metadata,
.body,
.article-container {
    font-family: 'Times New Roman';
    font-size: 1.6rem;
}

.title,
.metadata {
    text-align: center;
}

.title {
    width: 60%;
}

.metadata {
    font-size: 0.9rem;
}

.line-break {
    width: 60%;
    margin-bottom: 1.5rem;
    border-style: solid;
    border-color: #d2d2d2;
    border-width: 2px;
}

@media only screen and (max-width: 1100px) {
    .line-break {
        width: 95%;
    }

    .title {
        width: 95%;
        font-size: 1rem;
    }

    .metadata {
        font-size: 0.75rem;
    }
}


// ------------------------------- //
.article-container {
    width: 50%;
    font-size: 1.4rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 40%
}

.section-image {
    margin-right: 1.2rem;
    margin-bottom: 1rem;
}

.section-image:hover {
    transform: scaleX(-1);
}

.section-image-text,
.section-image-attr {
    font-size: 0.8rem;
    color: #c2c2c2;
}

.section-image-text {
    padding-bottom: 0.5rem;
}

.section-image-attr {
    font-style: italic;
}

@media only screen and (max-width: 1100px) {

    .image-container {
        width: 50%;
    }

    .article-container {
        width: 97%;
        font-size: 1.2rem;
    }

    .tags-container {
        width: 97%;
    }
}

// ---------------------------------------------

.tags-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin-top: 5rem;
}

.tag-text {
    font-size: 1rem;
    padding-top: 2rem;
    margin-right: 2%;
    font-weight: bold;
}

.tags {
    display: flex;
}

.tag {
    color: #d2d2d2;
    font-weight: bold;
    background-color: #060606;
    padding: 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
    margin: 1rem;
    font-size: 1rem;
}

@media only screen and (max-width: 1100px) {

    .tags-container {
        width: 97%;
    }
}

// --------------------------------------------------
::ng-deep .p-avatar.p-avatar-lg {
    width: 5rem;
    height: 5rem;
    border: 2px solid #93c5fd;
    margin-right: 1rem;
    cursor: pointer;
}

.author {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-top: 5rem;
    padding-bottom: 10rem;
}

.name {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

// ---------------------------------------------------
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}