<head>
    <meta property="og:image" content="../assets/patt1.png" />
</head>
<div class="main">
    <div class="title">
        <h1>Illinois man caught smoking cannabis on Wisconsin State Capitol, sparks outrage amongst Governor Evers</h1>
    </div>
    <div class="metadata">
        <h2>By: Archibald Adams, Published Feb 26, 2023, Updated Feb 26, 2023</h2>

    </div>
    <hr>
    <br>
    <div class="video-container">
        <video class="video" src="../assets/news1.mp4" player="mp4" width="40%" height="auto" controls></video>
    </div>
    <br>
    <div class="body">
        <p>MADISON, WI (WKOW) — On February 26, 2023, at approximately 8:00 PM, the Wisconsin State Capitol Police
            Department received a
            report of a disturbance at the Capitol building. Upon arrival, officers encountered a male subject, later
            identified as J Cole Patt, who was engaged in a protest on the capitol steps.</p>

        <p>The man was seen smoking a joint while holding a sign that read "No condoms, no problem". He was approached
            by
            Officer Lopez who asked him to put out the joint and leave the premises. The man grew agitated and decided
            not to comply and
            instead
            spit in the officer's face while hurling insults such as "porker", "pig", and "honky".
        </p>
        <p>Patt was booked into Dane County Jail on charges of disorderly conduct and assault with bodily fluids, where
            he
            currently sits on a $10,000 bond. Patt, later interviewed by WKOW, expressed that he feels no remorse for
            what he has done. "Condoms, are like, uh.. you know, a real issue minoy" said Patt, "Release me from this
            rubber prison!" yelled Patt before he ceased communicating with WKOW. The meaning of the word "minoy" is not
            yet known but it is believed to be some sort of racial slur, given Patt's background.

        </p>
        <br>
        <p-galleria class="gallery" [value]="images" [autoPlay]="true"
            [containerStyle]="{'max-width': '40rem', 'width':'100%'}" [circular]="true">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.src" style="width: 50vw; display: block;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <div class="grid grid-nogutter justify-content-center">
                    <img [src]="item.src" style="width: 20%; display: block;" />
                </div>
            </ng-template>
            <ng-template pTemplate="caption" let-item>
                <h4 style="margin-bottom: .5rem; color: #ffffff; font-weight: bold">{{item.title}}</h4>
                <p style="font-weight: bold;">{{item.alt}}</p>
            </ng-template>
        </p-galleria>
        <br>
        <p>The incident has sparked controversy and debate about the use of condoms and personal freedom. Some people
            are
            calling the man a hero for standing up for his beliefs, while others are condemning his actions as dangerous
            and
            irresponsible.
        </p>
        <p>The man's protest comes at a time when there is a growing concern about sexually transmitted infections
            (STIs) in
            the United States. The Centers for Disease Control and Prevention (CDC) reports that there are approximately
            20
            million new cases of STIs in the country each year.</p>
        <p>Governor Tony Evers has weighed in on the incident, in a WKOW interview at his residence, expressing
            outrage that the man
            was arrested. Evers said, "While I cannot condone his assault on a police officer,
            I am deeply troubled by the arrest of this man. The right to free speech and peaceful protest
            is
            a fundamental cornerstone of our democracy, and we must protect it at all costs."</p>
        <p>Evers concluded his remark by agreeing with Patt on the matter of condoms being a "rubber prison" and
            heatedly
            expressed
            that condoms were merely a "non-factual construct fabricated by
            academic snobs who have never gotten their dick sucked in a Motel6 while shooting darts to
            arbitrarily
            decide which districts in Wisconsin get sufficient public school funding."</p>
        <p>Evers concluded his statements by apologizing for his "primal" outburst and retreated inside of his 100
            square foot
            shed, where he continues his search for solving the homeless crisis in Madison.</p>
        <p>The governor's response highlights the tension between public health and personal freedom. It remains to be
            seen
            whether the incident will lead to any changes in public policy or attitudes towards condom use and cannabis
            legalization.</p>

        <p>For now, the man's actions have sparked a lively debate and drawn attention to an important issue. Whether or
            not
            he will be remembered as a hero or a villain remains to be seen.</p>

    </div>
    <br>
    <div class="tags">
        <span class="tag-text">TAGS:</span>
        <span class="tag">Capitol</span>
        <span class="tag">Evers</span>
        <span class="tag">Motel6</span>
    </div>

    <div class="author">
        <p-avatar image="../assets/moe.png" shape="circle" size="large"></p-avatar>
        <p class="name">Archibald Adams</p>
    </div>
    <br><br>
    <br><br>
</div>