.sub-container {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: fadeIn 0.5s;
}

.your-articles {
    margin-top: 2rem;
}
.link {
    font-weight: bold;
    margin-bottom: 1rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}