.sub-container {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}